{
    "printWidth": 100,
    "bracketSameLine": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "quoteProps": "consistent",
    "semi": true,
    "useTabs": false,
    "tabWidth": 2,
    "trailingComma": "all",
    "singleQuote": false,
    "singleAttributePerLine": false
}